:root{
      --size: 20px; /* cursor diameter */
      --trail: .6; /* smoothing factor (0-1) */
    }

    html,body{
      width: 100vw;
      height:100vh;
      margin:0;
      cursor:none;
      display:flex;
      flex-direction: column;
      background-color: white;
    }

    .cursor{
      position:fixed;
      left:0; top:0;
      width:var(--size);
      height:var(--size);
      border-radius:50%;
      background: #fff;
      mix-blend-mode: difference;
      transform:translate(-50%,-50%) scale(1);
      transition:width .18s ease,height .18s ease,transform .18s ease,opacity .2s ease;
      will-change:transform,left,top;
      z-index:999999;
    }
    .cursor.pointer-down{ transform: translate(-50%,-50%) scale(1.5); }
    @media (pointer:coarse){
      .cursor{display:none}
      body{cursor:auto}
    }

   @font-face {
   font-family: "Tanklager-Original";
   src: url("fonts/Tanklager-Original.woff2") format("woff2"),
        url("fonts/Tanklager-Original.woff") format("woff");
   font-weight: normal;
   font-style: normal;
    }

    @font-face {
    font-family: "Karrik-Regular";
    src: url("fonts/Karrik-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
     }

     @font-face {
     font-family: "Karrik-Italic";
     src: url("fonts/Karrik-Italic.woff2") format("woff2");
     font-weight: normal;
     font-style: italic;
      }

    .contenedor1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: flex-start;
      justify-content: flex-start;
      width: 100vw;
      height: 100vh;
      background-color: white;
      background-size: 20%;
      background-position: center;
      background-repeat: no-repeat;
      font-family: 'Tanklager-Original';
    }

    .contenedor1 p{
      width: 20%;
      font-family:'Karrik-Regular';
      text-align: justify;
      margin-top: 20vh;
    }

    .contenedor1 h1{
      font-size: 5em;
      padding: 5vw;
      color: black;
    }

    .nav a{
      font-family: 'Karrik-Regular';
      font-size: 1em;
      padding: 5vw;
      color: black;
      text-decoration: none;
      padding: 1em;
      margin: 0;
      background-color: transparent;
    }

    .nav {
      display: flex;
      flex-direction: row;
      width: 100vw;
      justify-content: space-around;
      padding: 0;
      background-color: transparent;
    }

    a:hover {
      cursor: none;
    }

    @media only screen and (max-width: 720px) {
      .contenedor1 p{
        text-align: left;
        width: 30%;
        margin-top: 20vh;
        background-color: white;
        padding: 1em;
        background-blend-mode: difference;
      }

      .contenedor1 h1{
        color: white;
        text-shadow: 3px 3px 0px black;
      }

      .contenedor1{
        background-size: cover!important;
      }

      .cursor{
        display: none;
      }
    }
